.documentation {
  max-width: 800px;
  text-align: justify;
}

.documentation > h1 {
  font-size: 2em;
  margin-bottom: calc(var(--spacing) * 2);
}

.documentation > p {
  margin-bottom: calc(var(--spacing) * 2);
}

.documentation > p > span {
  color: var(--md-sys-color-primary);
  text-decoration: underline;
  cursor: pointer;
}
