.ul {
  border-right-color: var(--border);
  border-right-width: 1px;
  border-right-style: solid;
}

.li {
  color: var(--primary);
  border-bottom-color: var(--border);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.selected {
  background-color: var(--container-primary);
}
