.hidden {
  visibility: hidden;
}

.backdrop {
  background-color: #00000088;
  position: fixed;
  top: 0;
  left: 0;
  /* Must be on top of everything */
  z-index: 2147483647;
}

.container {
  background-color: var(--container-primary-light);
  border-radius: 10px;
  box-shadow: 0 0 3px black;
}
