:root {
  --primary-dark: #506b9b;
  --primary: #76a1b2;
  --primary-light: #c8d4e4;
  --container-dark: #333;
  --container-primary: #444;
  --container-primary-light: #666;
  --highlight: #eee;
  --border: #eeeeee44;
  --selected: #444;

  background-color: var(--container-dark);
  color: var(--primary);

  .btn {
    border-radius: 100px;
    padding: var(--spacing);
    background-color: var(--primary-dark);
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary-light);
    color: #444;
  }

  .btn:hover {
    background-color: var(--primary-light);
  }

  .icon-button {
    border-radius: 100%;
    padding: var(--spacing-2) var(--spacing-2) var(--spacing-2) var(--spacing-2);
    display: flex;
    align-items: center;
  }

  /* SLIDER STYLING */
  --thumb-size: 1.5em;
  --track-height: 0.7em;
  --track-background: #275a8f;

  input[type="range"] {
    height: 2.2em;
    appearance: none;
    background: transparent;
  }

  /*webkit*/
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 1em;
    background: #007cf8;
    border: none;
    box-shadow: 0 0 2px var(--container-dark);
    margin-top: calc(
      max((var(--track-height) - 1px - 1px) * 0.5, 0px) - var(--thumb-size) *
        0.5
    );
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: var(--track-height);
    border-radius: 0.5em;
    background: var(--track-background);
    box-shadow: none;
  }

  input[type="range"]::-webkit-slider-thumb:hover {
    background: #0061c3;
  }

  input[type="range"]::-webkit-slider-thumb:active {
    background: #2f98f9;
  }

  input[type="range"]:active::-webkit-slider-runnable-track {
    background: #f5f5f5;
    border-color: #c1c1c1;
  }

  /*mozilla*/
  input[type="range"]::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 1em;
    background: #007cf8;
    border: none;
    box-shadow: 0 0 2px var(--container-dark);
  }

  input[type="range"]::-moz-range-track {
    height: max(calc(var(--track-height) - 1px - 1px), 0px);
    border-radius: 0.5em;
    background: var(--track-background);
    box-shadow: none;
  }

  input[type="range"]::-moz-range-thumb:hover {
    background: #0061c3;
  }

  input[type="range"]::-moz-range-thumb:active {
    background: #2f98f9;
  }

  input[type="range"]:active::-moz-range-track {
    background: #f5f5f5;
    border-color: #c1c1c1;
  }
}
