.tab {
  background-color: #101010;
  color: white;
  font-family: monospace;
  font-size: 1.2em;
  border-right-color: #2b2b2b;
  border-right-style: solid;
  border-right-width: 1px;
}

.selected {
  background-color: #1e1e1e;
  border-top-width: 3px;
  border-top-color: #0078d4;
  border-top-style: solid;
}

.icon {
  color: #888;
  border-radius: 5px;
  width: 24px;
}

.icon:hover {
  background-color: #383838;
}

.iconSelected {
  color: white;
}
