.item:hover {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  cursor: pointer;
}

.settings {
  opacity: 0;
  width: 32px;
}

.item:hover .settings {
  opacity: 1;
}
